* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1b2156;
  /*background-color: #446EBF;*/
  /*background-image: linear-gradient(120deg, #2c3e50 50%, #000000 10%);*/
  height: 100vh;

  color: white;
}

/*h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}*/

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 71%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  z-index: -1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(13, 50, 77, 0.5);*/
  /*mix-blend-mode: overlay;*/
}

h2.heading {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 10px;
  color: whitesmoke;
  text-shadow: 0 0 2px black;
}

header {
  background-: #5075cf;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  /*text-transform: uppercase;*/
}

form {
  min-width: 410px;
  margin: 50px auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 20px;
  position: absolute;
  margin-top: 10rem;
  right: 0;
  margin-right: 2rem;
  background-color: rgba(45, 52, 54, 0.9);
  z-index: 1000;
}

input {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 1px solid whitesmoke;
  height: 3rem;
  padding: 7px;
  background: #2d3436;
  color: inherit;
  font-family: inherit;
}

input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 1px #719ece;
  padding: 7px;
}

.inputfield {
  padding: 7px;
}

input::placeholder {
  color: whitesmoke;
  padding: 7px;
}

.input-container {
  margin-bottom: 20px;
}

.btn-primary {
  border: 1px solid transparent;
  width: 10rem;
  height: 3rem;
  border-radius: 4px;
  padding: 4px 14px;
  background-color: #1565c0;
  color: white;
  font-family: inherit;
  font-size: 1.3rem;
  margin-left: 0rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: " chatbox video-container";
  grid-gap: 10px;
}

.peers-container {
  grid-area: video-container;
  min-width: 320px;
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  place-items: end;
  grid-gap: 5px;
  margin-top: 3.3rem;
  margin-right: 1.5rem;
  /*margin-left:-65rem ;*/
  /*flex-direction: column;*/
  /*  max-width: 300px;
*/
}

.peer-video {
  /*grid-area: peer-video;*/
  height: 250px;
  width: 300px;
  /*margin-left:-20rem;*/
  border-radius: 5%;
  object-fit: cover;
  margin-bottom: 1px;
  background-color: #546e7a;
}

.local.peer-video {
  transform: scaleX(-1);
}

.peer-name {
  font-size: 14px;
  text-align: center;
  margin-top: -1.8rem;
  mix-blend-mode: overlay;
}

.peer-container {
  padding: 10px;
}

.control-bar {
  background-color: black;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 12vh;
  padding: 1rem;
  justify-content: center;
  z-index: 10;
}

/*.control-bar > *:not(:first-child) {
  margin-left: 8px;
}*/

.btn-control {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #607d8b;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  /*background-color: #607d8b;*/
}

svg {
  width: 3.5rem;
}

.btn-control:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 2px #719ece;
}

.btn-danger {
  color: #f44336;
  outline: none;
  margin-left: 2.2rem;
  margin-right: 0rem;
  margin-top: 0.9rem;
  cursor: pointer;
  width: 3rem;
  /*padding: 6px 14px;*/
  /*font-family: inherit;*/
  /*font-size: 14px;*/
  /*padding-top: 6px ;*/
  /*border: 1px solid #f44336;*/
  /*padding-left: -6px ;*/
  /*padding-right: 6px ;*/
  /*margin-bottom: 1rem;*/
}

.btn-danger:focus {
  outline: none !important;
  border: none;
  content: "Leave Room";
}

.btn-danger:hover {
  content: "Leave Room";
}

.btn-toggle {
  color: #719ece;
  width: 3rem;

  outline: none;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 3rem;
  margin-top: 0.3rem;

  /*padding: 6px 14px;*/
  /*font-family: inherit;*/
  /*font-size: 14px;*/
  /*margin-bottom: 0.5rem;*/
}

.btn-toggle:focus {
  outline: none;
  border: none;
}

.hide {
  display: none;
}

.chatbox-container {
  grid-area: chatbox;
  margin-left: 0rem;
  margin-top: 1.5rem;
  padding: 1rem;
  width: 22rem;
}

.chatbox-btn {
  background: url(./chat.png) no-repeat;
  width: 13rem;
  height: 1.9rem;
  /*  margin-left: 1.6rem;
*/
  outline: none !important;
  border-color: transparent;
}

/*.chatbox {
  outline: none;
  width: 350px;
  height: 520px;
  padding-left: 1.4rem;
  padding-top: 1rem;
}*/

/*new chat*/

.App {
  font-family: sans-serif;
  text-align: center;
}

.btn {
  right: 21%;
  bottom: 21%;
  padding: 0.85rem;
  background-color: grey;
  margin-left: 5px;
  outline: none;
}

/*body {
  background: linear-gradient(135deg, #044f48, #2a7561);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;
}
*/

/*--------------------
Chat
--------------------*/
.chat {
  position: absolute;
  top: 46%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 80vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/*--------------------
Chat Title
--------------------*/
.chat-title {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 0.9rem;
}
h1,
h2 {
  font-weight: normal;
  font-size: 10px;
}

h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 8px;
  letter-spacing: 1px;
  text-align: center;
}

/*--------------------
Messages
--------------------*/
.messages {
  flex: 1 1 auto;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
  overflow-y: scroll;
}

.messages-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.messages-content::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.messages-content::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #282c34;
  border-radius: 20px;
}

.timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 9px;
  color: rgba(255, 255, 255, 0.3);
}

.message-sender {
  text-align: left;
  clear: both;
  float: left;
  width: 16.2rem;
  padding: 0;
  margin: 2px 0;
  color: whitesmoke;
  font-size: 0.8rem;
  line-height: 1.4;
  margin-left: 21px;
  margin-top: 1rem;
  position: relative;
}

.date {
  float: right;
}

.message {
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 5px 5px 12px 0;
  background: #282c34;
  margin: 8px 0;
  color: whitesmoke;
  font-size: 1rem;
  line-height: 1.4;
  margin-left: 20px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/*--------------------
Message Box
--------------------*/
.message-box {
  flex: 0 1 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
}

.message-input {
  border: none;
  outline: none !important;
  resize: none;
  color: white;
  font-size: 0.9rem;
  height: 2rem;
  margin-left: -20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-left: 0px;
  width: 230px;
}

textarea:focus:-webkit-placeholder {
  color: white;
}

textarea::-webkit-scrollbar {
  color: transparent;
}
textarea:focus::-webkit-scrollbar {
  color: transparent;
}

textarea {
  background: none;
  border: none;
  outline: none !important;
  font-size: 1rem;

  /*height: 2rem;*/
  width: 265px;
}

.message-submit {
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 12px;
  color: #fff;
  border: none;
  background: #248a52;
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  transition: background 0.2s ease;

  &:hover {
    background: #1d7745;
  }
}

/*--------------------
Custom Srollbar
--------------------*/
.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
}

/*--------------------
Bounce
--------------------*/
@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }
  to {
    transform: translateY(-10px);
  }
}

